*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(145deg,#8d8062,#EDE7D9);
    display:flex;
    height:100vh;
    justify-content:center;
    align-items:center;
}

/* Card Design */
.signup-container{
    width:380px;
    background:white;
    padding:35px 25px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 0 15px rgba(0,0,0,0.15);
}

.signup-container h2{
    font-size:28px;
    color:#7f6125;
    margin-bottom:10px;
}

.signup-container p{
    color:#000000;
    margin-bottom:20px;
}

form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

input{
    padding:12px;
    border:1px solid #7f6125;
    border-radius:6px;
}

button{
    padding:12px;
    background:#7f6125;
    color:white;
    border:none;
    font-size:16px;
    border-radius:6px;
    cursor:pointer;
}

.login-link{
    margin-top:18px;
    font-size:14px;
}

.login-link a{
    color:#7f6125;
    text-decoration:none;
}
